%h1= "Details of the balance in #{@balance.time_period_string}"
%h4= "Total net balance in this month: #{sprintf('%.2f',@balance.total_balance.round(2))} Euro"
%table{:class => "balances"}
  %thead
    %tr
      %th User
      %th Amount to pay

  %tbody
    - @balance_check.each do |key, balance|
      %tr
        %td= User.find(key).name
        %td= sprintf('%.2f', balance)
        
%h4 Detailed list of expenses in this month

%table{:class => "expenses"}
  %thead
    %tr
      %th User
      %th Cost

  %tbody
    - @expenses.each do |expense|
      %tr
        %td= expense.user.name
        %td= expense.cost
%br

= link_to 'Edit', edit_balance_path(@balance) |
= link_to 'Back', balances_path 
