%h1= "Details zur Abrechnung im #{@balance.time_period_string}"

%table{:class => "balances"}
  %thead
    %tr
      %th Benutzer
      %th Betrag

  %tbody
    - @balance_check.each do |key, balance|
      %tr
        %td= User.find(key).name
        %td= sprintf('%.2f', balance)
        
%h4 Alle Ausgaben in diesem Monat

%table{:class => "expenses"}
  %thead
    %tr
      %th Benutzer
      %th Ausgabe

  %tbody
    - @expenses.each do |expense|
      %tr
        %td= expense.user.name
        %td= expense.cost
%br

= link_to 'Abrechnung ändern', edit_balance_path(@balance) |
= link_to 'Zurück', balances_path 
