%h1= "Details of the balance in #{@balance.time_period_string}"
%br
= "Total costs in this month: #{sprintf('%.2f',@balance.total_balance.round(2))} Euro"
%br
%br
%table{:class => "balances"}
  %thead
    %tr
      %th User
      %th Amount to pay

  %tbody
    - @balance_check.each do |key, balance|
      %tr
        %td= User.find(key).name
        %td= sprintf('%.2f', balance)
%br

= link_to 'Edit', edit_balance_path(@balance) |
= link_to 'Back', balances_path 
