.formLayout
  = form_for(@expense) do |f|
    - if @expense.errors.any?
      #error_explanation
        %h2
          = pluralize(@expense.errors.count, "error")
          prohibited this expense from being saved:
        %ul
          - @expense.errors.full_messages.each do |message|
            %li= message
    .field
      = f.label "Benutzer"  
      = f.collection_select :user_id, User.order(:name), :id , :name
    %br
    .field
      = f.label "Ausgabe"
      = f.text_field :cost
    %br
    .field
      = f.label "Datum"
      = f.date_select :time_period, :order => [:month, :year]
    %br
    .field
      = f.label "Ausgelegt für"
      = f.collection_select :paid_for_user_id, User.order(:name), :id, :name, include_blank: true
    %br
    .actions
      = f.submit "Ändern"
