%h1 Listing expenses

%table{:class => "expenses"}
  %thead
    %tr
      %th User name
      %th Cost
      %th Month
      %th Paid for user
      %th 

  %tbody
    - @expenses.each do |expense|
      %tr
        %td= expense.user.name
        %td= expense.cost
        %td= expense.month
        %td= expense.paid_for_user
        %td= link_to 'More information', expense
%br
= link_to 'Add a new expense', new_expense_path
