%h1 Alle Ausgaben

%table{:class => "expenses"}
  %thead
    %tr
      %th Benutzer
      %th Ausgabe
      %th Datum
      /
        %th Ausgelegt für
      %th 

  %tbody
    - @expenses.each do |expense|
      %tr
        %td= expense.user.name
        %td= expense.cost
        %td= expense.time_period.try(:strftime, "%B %Y")
        /
          %td= expense.paid_for_user.try(:name)
        %td= link_to 'Details', expense
%br
= link_to 'Add a new expense', new_expense_path
