/*%p#notice= notice*/
/*%h1 Detaillierte Information zur Ausgabe*/
%p
  %strong Benutzer:
  = @expense.user.name
%p
  %strong Ausgabe:
  = @expense.cost
  Euro
%p
  %strong Datum:
  = @expense.time_period.try(:strftime, "%B %Y")
%p
  %strong Ausgelegt für:
  = @expense.paid_for_user.try :name
  
= link_to 'Ausgabe ändern', edit_expense_path(@expense) |
= link_to 'Zurück', expenses_path 
