%p#notice= notice
%p
  %strong User:
  = @expense.user.name
%p
  %strong Cost:
  = @expense.cost
  Euro
%p
  %strong Month:
  = @expense.month
%p
  %strong Paid for user:
  = @expense.paid_for_user_name
  
= link_to 'Edit', edit_expense_path(@expense) |
= link_to 'Back', expenses_path 
