<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @expense.user %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @expense.cost %>
</p>

<p>
  <strong>Common:</strong>
  <%= @expense.common %>
</p>

<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
